.course-title.beginner {
}

.course-title.intermediate {
  background: lightsalmon;
}

.course-title.advanced {
  background: lightcoral;
}

.course-category {
  margin-top: 15px;
}

.category {
  margin-top: 15px;
  background: lightcyan;
  font-size: 14px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 3px;
  display: inline;
}
